html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}


#canvas{
  display: none;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  align-content: center;
  background-image: url('../img/intro/fgportada.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #110013;

}

.introGlitch {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  align-content: center;
  background-image: url('../img/intro/fgportada-glitch.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
  animation: glitch1 .15s infinite;
  line-height: 0;
  background-color: #110013;

}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(0.1deg, 0.08deg);
    opacity: 0.98;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.1deg, 0.09deg);
    opacity: 0.94;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 0.94;
  }
  55% {
    transform: skew(.1deg, 0.105deg);
    opacity: 0.98;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.1deg, .09deg);
    opacity: 0.8;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}



.background {
  width: 80%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  margin-left: 150px;
}


button {
  transition: all 0.2s;
  opacity: 100%;
  background: url("../img/intro/buttonimage.png");
  background-color: transparent;
  background-repeat: no-repeat; 
  background-position: 0px 0px; 
  height: 3px;        
  vertical-align: middle;
  height: 88px;
  width: 198px;
  margin-bottom: 48px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

button:hover {
  color: #000000;
  background-color: #150017;
  opacity: 10%;
} 

#instructions {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  align-content: center;
  background-image: url('../img/intro/fgintro.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #150017;

}




#gameOver{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  align-content: center;
  background-image: url('../img/Game over.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #150017;
  display: none;
}


#winGame{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  align-content: center;
  background-image: url('../img/you win.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #150017;
  display: none;

}